<div id="homeTop" class="jumbotron text-center">
    <div class="container">
        <h1>Employee Managment </h1>
        <p>Access the Employee Details</p>
        <!-- <a (click)="logingmail()"><img src="assets/images/gmail.png"></a> -->
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Todays B'day</div>
    <div class="panel-body">
        Panel content
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Holiday List</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="media card">
                    <div class="media-left">
                        <img src="assets/images/EVENT.jpg" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4>Date: 01/01/2018</h4>
                        <h4 class="media-heading">New Year 2018</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media card">
                    <div class="media-left">
                        <img src="assets/images/EVENT.jpg" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4>Date:26/01/2018</h4>
                        <h4 class="media-heading">Republic Day</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="media card">
                    <div class="media-left">
                        <img src="assets/images/EVENT.jpg" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4>Date:01/05/2018</h4>
                        <h4 class="media-heading">Maharashtra Day </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media card">
                    <div class="media-left">
                        <img src="assets/images/EVENT.jpg" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4>Date:13/08/2018</h4>
                        <h4 class="media-heading">Ganesh Chaturthi </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="media card">
                    <div class="media-left">
                        <img src="assets/images/EVENT.jpg" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4>Date:02/10/2018</h4>
                        <h4 class="media-heading">Gandhi Jayanti </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media card">
                    <div class="media-left">
                        <img src="assets/images/EVENT.jpg" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4>Date:08/11/2018</h4>
                        <h4 class="media-heading">Diwali </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="media card">
                    <div class="media-left">
                        <img src="assets/images/EVENT.jpg" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4>Date:09/11/2018</h4>
                        <h4 class="media-heading">Bhai Dooj </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media card">
                    <div class="media-left">
                        <img src="assets/images/EVENT.jpg" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4>Date:25/12/2018</h4>
                        <h4 class="media-heading">X”MAS </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>